.GridComponent {
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(to bottom right, aqua, lightblue);
  text-align: center;
  padding: 4em 0;
  &-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    gap: 10px;

  }
}
